@charset "utf-8";
* { margin: 0; padding: 0; border: 0; font-size: 100%; }

/*light blue: #c8e4ff
  dark green: #33665c
 light green: #33ac5c
*/

body {
	background: #c8e4ff 
}

h1, h2, h3, a {
	font-family: 'Merriweather Sans', sans-serif; 
}

/* banner starts here */


/* Add a light grey background on mouse-over */
.btn hover {
  color: #33665c;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #33665c;
  color: #33665c;
}

#myBtnContainer {
    text-align: center;
    background: #F8F9FA;
}
/* shop filter ends here */

vision {
	width: 500px;
	
}

h2 {
	font-family: "sirin-stencil";
	font-style: italic;
	text-align: center;
	padding: 20px;
	border: solid 2px #CED4DA;
	
}

.footer {
	text-align: inherit;
	display: inline-block;
}

/*Michelles CSS*/

/*FAQ Container*/
.container-fluid1 {
    width: 50%;
	margin: auto;
}


.accordion {
    padding: 10px 10px;
    border: 2px solid #067CA8;
    width: 100%;
    border-radius: 50px;
    cursor: pointer;
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.accordion .icon {
    margin: 0 30px 0 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #2020E5 no-repeat 7px 8px;
    float: left;
    transition: all .5s ease-in;
}

.panel {
    padding: 0 15px;
    border-left: 1px solid blue;
    margin-left: 25px;
    font-size: 14px;
    text-align: justify;
    overflow: hidden;
    max-height: 300px;
    transition: all .5s ease-in;
}
.es-right{
  align-content: left;
}
.GFG { 
  background-color: white; 
  border: 2px solid black; 
  color: green; 
  padding: 5px 10px; 
  text-align: center; 
  display: inline-block; 
  font-size: 20px; 
  margin: 10px 30px; 
  cursor: pointer; 
  text-decoration:none; 
} 