@charset "utf-8";
* { margin: 0; padding: 0; border: 0; font-size: 100%; }

/*light blue: #c8e4ff
  dark green: #33665c
 light green: #33ac5c
*/
/*start general css*/
body {
	background: #c8e4ff 
}
h1 {
	font-family: 'Staatliches', cursive;
}

h2, h3, h4, h5, h6, a {
	font-family: 'Merriweather Sans', sans-serif; 
}
/*start footer*/
#footer {
	background-color: #33665c;
	color: #FFFFFF;
	text-align: center;
	margin-top: 20px;
}
.icons {
	margin-left: 100px;
	margin-top: 50px;
}

.just img{
	width: 50px;
	height: 50px;
	float: center;
}
.col-xl-5{
	margin:auto;
}
.foot-img{
	width: 180px;
	margin: 0px 110px;
	padding-top: 20px;
}
/*end footer*/
/*end general css*/

/*index starts here*/
.indx h1 {
	color: white;
}
/*index ends here*/

/*about starts here*/
.values {
	text-align: center;
}

.values h1 {
	font-size: 350%;
}
/*about starts here*/


/* Add a light grey background on mouse-over */
.btn hover {
  color: #33665c;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #33665c;
  color: #33665c;
}

#myBtnContainer {
    text-align: center;
    background: #F8F9FA;
}
/* shop filter ends here */

/*Michelles CSS*/

/*FAQ starts here*/
.container-fluid1 {
    width: 50%;
	margin: auto;
}

.accordion {
    padding: 10px 10px;
    border: 2px solid #067CA8;
    width: 100%;
    border-radius: 50px;
    cursor: pointer;
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.accordion .button {
    margin: 0 30px 0 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #2020E5 no-repeat 7px 8px;
    float: left;
}

.panel {
    padding: 0 15px;
    border-left: 1px solid blue;
    margin-left: 25px;
    font-size: 14px;
    text-align: justify;
    overflow: hidden;
    max-height: 300px;
    transition: all .5s ease-in;
}
.es-right{
  align-content: left;
}
.GFG { 
  background-color: white; 
  border: 2px solid black; 
  color: green; 
  padding: 5px 10px; 
  text-align: center; 
  display: inline-block; 
  font-size: 20px; 
  margin: 10px 30px; 
  cursor: pointer; 
  text-decoration:none; 
} 
/*FAQ ends here*/

/*starts contact page css*/
.ctp h1 {
	text-align: center;
}
.ctp h5 {
	text-align: center;
}

.section-container {
	background-color: #33665c;
	color: white;
}
.submit {
	background-color: #33ac5c;
	border-style: solid;
	border-color: black;
	border-width: thin;
	padding: 2px 2px 0px 2px;
	font-family: 'Merriweather Sans', sans-serif; 
	width: 100%;
}

.submit:hover {
	background-color: #33665c;
	color: white;
}

.btn-lg {
	color: #33665c;
}
#MyMessage {
	width: 100%;
} 

#E-mail{
	width: 100%;
	padding: 5px;	
}

#LastName {
	width: 100%;
	padding: 5px;
}

#FirstName {
	width: 100%;	
	padding: 5px;
}
/*end contact page css*/
