@charset "utf-8";

* { margin: 0; padding: 0; border: 0; font-size: 100%; }

body {
	background: #c8e4ff 
}

.banner {
	text-align: inherit;
}

.logo {
	display: inline-block;
	height: 175px;
	
}

.banner-quote {
	display: inline-block;
	text-align: center;
	font-family: "sirin-stencil";
	font-style: italic;
	margin-top: 60px;
	
}

.cart-icon {
	display: inline-block;
	height: 70px;
	float: right;
	text-align: right;
	margin: 50px 20px;
}

.container {
  overflow: hidden;
}

.filterDiv {
  float: left;
  background-color: #2196F3;
  color: #ffffff;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: solid 1px #CED4DA;
  outline: none;
  padding: 12px 16px;
  background-color: #FFFFFF;
  cursor: pointer;
	margin: 0 20px;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #666;
  color: white;
}

#myBtnContainer {
    text-align: center;
    background: #F8F9FA;
}

.footer {
	text-align: inherit;
	display: inline-block;
	
}


/*Michelles CSS*/

/*FAQ Container*/
.container-fluid1 {
    width: 50%;
	margin: auto;
}


.accordion {
    padding: 10px 10px;
    border: 2px solid #067CA8;
    width: 100%;
    border-radius: 50px;
    cursor: pointer;
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.accordion .icon {
    margin: 0 30px 0 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #2020E5 no-repeat 7px 8px;
    float: left;
    transition: all .5s ease-in;
}

.panel {
    padding: 0 15px;
    border-left: 1px solid blue;
    margin-left: 25px;
    font-size: 14px;
    text-align: justify;
    overflow: hidden;
    max-height: 300px;
    transition: all .5s ease-in;
}
